.container > div {
  background-color: white;
  position: absolute;
  border: 3px solid black;
}

#box-1 {
  width: 230px;
  height: 180px;
}

#box-2 {
  width: 130px;
  height: 230px;
  left: 160px;
  top: 140px;
}

#box-3 {
  width: 450px;
  height: 120px;
  top: 260px;
}

#box-4 {
  width: 80px;
  height: 380px;
  left: 360px;
  top: 100px;
}
